<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="drive">
  <link name="base_link"/>
  <link
    name="base">
    <inertial>
      <origin
        xyz="-0.345788930637997 -0.153460943930369 -0.0148574304076997"
        rpy="0 0 0" />
      <mass
        value="34.1059688345868" />
      <inertia
        ixx="2.15746797612818"
        ixy="0.00470920534979304"
        ixz="-1.71459033522724E-06"
        iyy="0.759382756881473"
        iyz="0.00265969830513678"
        izz="2.53264735973746" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/base.STL" />
      </geometry>
    </collision>
  </link>  <!-- closes <link name="base"> -->

  <joint
    name="base_joint"
    type="fixed">
    <origin xyz="0 0 1" rpy="0 3.1416 0"/>
    <parent link="base_link"/>
    <child link="base"/>
  </joint>
  <link
    name="right_front">
    <inertial>
      <origin
        xyz="-0.12375 -0.053132 0.0225"
        rpy="0 0 0" />
      <mass
        value="0.26897" />
      <inertia
        ixx="0.001013"
        ixy="-0.0017699"
        ixz="2.1696E-09"
        iyy="0.0042352"
        iyz="1.083E-09"
        izz="0.0051616" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/right_front.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/right_front.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_right_front"
    type="revolute">
    <origin
      xyz="-0.070337 -0.15542 -0.062427"
      rpy="-1.5708 0.12123 1.5708" />
    <parent
      link="base" />
    <child
      link="right_front" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_bogie">
    <inertial>
      <origin
        xyz="-4.0066E-06 -0.13053 0.016329"
        rpy="0 0 0" />
      <mass
        value="0.59393" />
      <inertia
        ixx="0.0020082"
        ixy="2.9932E-07"
        ixz="-1.3098E-08"
        iyy="0.0053136"
        iyz="3.3927E-09"
        izz="0.0045241" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/right_bogie.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/right_bogie.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_right_bogie"
    type="revolute">
    <origin
      xyz="-0.31109 -0.16078 0"
      rpy="-3.1416 0 3.0204" />
    <parent
      link="right_front" />
    <child
      link="right_bogie" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel_1">
    <inertial>
      <origin
        xyz="-0.08218 0.0011573 0.007099"
        rpy="0 0 0" />
      <mass
        value="32.802" />
      <inertia
        ixx="0.60349"
        ixy="-0.0034113"
        ixz="-0.020925"
        iyy="0.36113"
        iyz="0.00029621"
        izz="0.3629" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/wheel_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/wheel_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_wheel_1"
    type="revolute">
    <origin
      xyz="0.225 -0.18509 0"
      rpy="0.16161 1.4835 0.35684" />
    <parent
      link="right_bogie" />
    <child
      link="wheel_1" />
    <axis
      xyz="0.99619 -0.014024 -0.08602" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel_2">
    <inertial>
      <origin
        xyz="-0.08218 0.0011573 0.007099"
        rpy="0 0 0" />
      <mass
        value="32.802" />
      <inertia
        ixx="0.60349"
        ixy="-0.0034113"
        ixz="-0.020925"
        iyy="0.36113"
        iyz="0.00029621"
        izz="0.3629" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/wheel_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/wheel_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_wheel_2"
    type="revolute">
    <origin
      xyz="-0.225 -0.18509 0"
      rpy="0.16161 1.4835 0.42392" />
    <parent
      link="right_bogie" />
    <child
      link="wheel_2" />
    <axis
      xyz="0.99619 -0.014024 -0.08602" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_back">
    <inertial>
      <origin
        xyz="0.30742 -0.20016 0.070431"
        rpy="0 0 0" />
      <mass
        value="0.46295" />
      <inertia
        ixx="0.0037369"
        ixy="0.0028292"
        ixz="2.8411E-09"
        iyy="0.0040089"
        iyz="-4.7273E-09"
        izz="0.0063232" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/right_back.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/right_back.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_right_back"
    type="revolute">
    <origin
      xyz="0 -0.10542 -0.012427"
      rpy="-1.5708 0.12123 1.5708" />
    <parent
      link="base" />
    <child
      link="right_back" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel_3">
    <inertial>
      <origin
        xyz="-0.0096197 0.00013586 0.00083348"
        rpy="0 0 0" />
      <mass
        value="32.802" />
      <inertia
        ixx="0.60349"
        ixy="-0.0034113"
        ixz="-0.020925"
        iyy="0.36113"
        iyz="0.0002962"
        izz="0.3629" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/wheel_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/wheel_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_wheel_3"
    type="revolute">
    <origin
      xyz="0.45337 -0.39 0"
      rpy="-2.98 -1.4835 2.1495" />
    <parent
      link="right_back" />
    <child
      link="wheel_3" />
    <axis
      xyz="0.99619 -0.014024 -0.08602" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_front">
    <inertial>
      <origin
        xyz="-0.12375 -0.053132 0.0225"
        rpy="0 0 0" />
      <mass
        value="0.26897" />
      <inertia
        ixx="0.001013"
        ixy="-0.0017699"
        ixz="2.1696E-09"
        iyy="0.0042352"
        iyz="1.083E-09"
        izz="0.0051616" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/left_front.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/left_front.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_left_front"
    type="revolute">
    <origin
      xyz="-0.56534 -0.15578 -0.062427"
      rpy="-1.5708 0.12123 1.5708" />
    <parent
      link="base" />
    <child
      link="left_front" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_bogie">
    <inertial>
      <origin
        xyz="-4.009E-06 -0.13053 0.061329"
        rpy="0 0 0" />
      <mass
        value="0.59393" />
      <inertia
        ixx="0.0020082"
        ixy="2.9938E-07"
        ixz="-1.3098E-08"
        iyy="0.0053136"
        iyz="3.3927E-09"
        izz="0.0045241" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/left_bogie.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/left_bogie.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_left_bogie"
    type="revolute">
    <origin
      xyz="-0.31109 -0.16078 0"
      rpy="0 0 -0.12123" />
    <parent
      link="left_front" />
    <child
      link="left_bogie" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel_4">
    <inertial>
      <origin
        xyz="-0.1102 0.0015518 0.0095182"
        rpy="0 0 0" />
      <mass
        value="32.802" />
      <inertia
        ixx="0.60349"
        ixy="-0.0034113"
        ixz="-0.020925"
        iyy="0.36113"
        iyz="0.0002962"
        izz="0.3629" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/wheel_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/wheel_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_wheel_4"
    type="revolute">
    <origin
      xyz="-0.225 -0.18509 0.016876"
      rpy="0.16161 1.4835 -0.33202" />
    <parent
      link="left_bogie" />
    <child
      link="wheel_4" />
    <axis
      xyz="0.99619 -0.014024 -0.08602" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel_5">
    <inertial>
      <origin
        xyz="-0.1102 0.0015518 0.0095182"
        rpy="0 0 0" />
      <mass
        value="32.802" />
      <inertia
        ixx="0.60349"
        ixy="-0.0034113"
        ixz="-0.020925"
        iyy="0.36113"
        iyz="0.00029621"
        izz="0.3629" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/wheel_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/wheel_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_wheel_5"
    type="revolute">
    <origin
      xyz="0.225 -0.18509 0.016876"
      rpy="0.16161 1.4835 -1.252" />
    <parent
      link="left_bogie" />
    <child
      link="wheel_5" />
    <axis
      xyz="0.99619 -0.014024 -0.08602" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_back">
    <inertial>
      <origin
        xyz="0.307417610449746 -0.200159784838589 0.0649065740190656"
        rpy="0 0 0" />
      <mass
        value="0.462954112817127" />
      <inertia
        ixx="0.00373689017269687"
        ixy="0.00282920501842546"
        ixz="2.84105774800552E-09"
        iyy="0.00400887791416429"
        iyz="-4.72732351366836E-09"
        izz="0.00632322267910215" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/left_back.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/left_back.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_left_back"
    type="revolute">
    <origin
      xyz="-0.54534 -0.10578 -0.012427"
      rpy="-1.5708 0.12123 1.5708" />
    <parent
      link="base" />
    <child
      link="left_back" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel_6">
    <inertial>
      <origin
        xyz="-0.110196647547582 0.0015517611086607 0.00951816460722743"
        rpy="0 0 0" />
      <mass
        value="32.8019150211691" />
      <inertia
        ixx="0.603492451808882"
        ixy="-0.0034112585032357"
        ixz="-0.0209247366705797"
        iyy="0.361131034411668"
        iyz="0.000296199081101525"
        izz="0.362901341391592" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/wheel_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drive/meshes/wheel_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_wheel_6"
    type="revolute">
    <origin
      xyz="0.45337 -0.39 0.034376"
      rpy="0.16161 1.4835 -0.74019" />
    <parent
      link="left_back" />
    <child
      link="wheel_6" />
    <axis
      xyz="0.99619 -0.014024 -0.08602" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>